.orders {
  nav {
    margin-top: 2rem;
    ul {
      // display: flex;
      // align-items: center;
      display: grid;
      grid-template-columns: repeat(8, auto);
      gap: 0;
      height: 20px;
      li {
        font-size: 15px;
        color: #222;
        cursor: pointer;
        &:hover {
          font-weight: 600;
          border-bottom: 1px solid #222;
        }
      }
    }
  }
  table {
    width: 100%;
    margin-top: 1rem;
    thead {
      background: #222;
      color: #fff;
      text-align: center;
    }
    tbody {
      td {
        text-align: center;
        background: #eee;
        color: #222;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
  &__names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
    background: #eee;
    color: #222;
  }
}

.active {
  font-weight: 600;
  border-bottom: 1px solid #222;
}
