@import '../styles.module.scss';

.cart__header {
  height: 140px;
}

.flex {
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    .checkbox {
      border-color: $blue-color;
    }
  }
}
