.header {
  width: calc(100% - 40px);
  margin-left: 20px;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $shadow-1;
  &__search {
    position: relative;
    width: 500px;
    margin: 0;
    label {
      position: relative;
      width: 100%;
      input {
        width: 100%;
        height: 40px;
        border-radius: 50px;
        padding: 5px 20px;
        outline: none;
        border: 1px solid #00000033;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
