$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0px;
$blue-color: #2182ff;
$grey-color: #f8f8f8;
$violet-color: #5a31f4;
$success-color: #6cc070;
$tertiary-btn-color: #666666;
$light-error-color: #e74d3c9c;
$error-color: #e74d3c;
$yellow-color: #fac80f;
$redish-color: #f15f6f;

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
}

.btn_primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: $blue-color;
  padding: 0.3rem 1rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 60%;
  border-radius: 2px;
}

.btn_tertiary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: $tertiary-btn-color;
  padding: 0.15rem 0.5rem;
  background: #fff;
  border: 1px solid $tertiary-btn-color;
  font-weight: 600;
  cursor: pointer;
  width: 40%;
  border-radius: 2px;
  transition: all 0.2s ease-out;
  svg {
    color: $tertiary-btn-color;
  }

  &:hover {
    background: #d8d8d8;
  }
}

.btn_outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: $blue-color;
  padding: 0.3rem 1rem;
  background: #fff;
  border: 1px solid $blue-color;
  font-weight: 600;
  cursor: pointer;
  width: 40%;
  border-radius: 2px;
}

.d_flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

// ----- Swiper ----- //
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
}

.mainSwiper {
  .swiper {
    border-radius: 10px !important;
    overflow: hidden !important;
  }
  .swiper-slide img {
    height: 300px !important;
    border-radius: 10px !important;
    box-shadow: $shadow-1 !important;
  }

  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: $blue-color !important;
    width: 13px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 80px !important;
    height: 80px !important;
    transition: all 0.2s ease-out;
    border-radius: 50%;
    background: rgba(102, 102, 102, 0.384) !important;
    display: none;
    place-items: center;
  }

  .swiper-button-prev {
    left: -13px;
  }
  .swiper-button-next {
    right: -13px;
  }
}

.offers_swiper {
  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: $blue-color !important;
    width: 13px !important;
  }

  .swiper-slide {
    span {
      position: absolute;
      color: #fff;
      &:first-of-type {
        bottom: 50px;
        width: 90px;
        height: 25px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: $yellow-color;
      }
      &:last-of-type {
        font-style: italic;
        top: 6px;
        right: 5px;
        background-color: $redish-color;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 13px;
        font-weight: 600;
        box-shadow: $shadow-1;
      }
    }
    &:hover {
      transform: scale(1.1);
      transition: all 0.5s ease-out;
    }
  }

  .swiper-slide img {
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
}

.flashDeals__swiper {
  .swiper-slide {
    img {
      border-radius: 0 !important;
      height: 320px !important;
    }
  }
}

// .swiper {
// width: 200px;
// }
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  // color: #fff;
}

// ----- Swiper ----- //
